@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-700;
    background-image: url('../public/img/background.webp');
  }
  * {
    box-sizing: border-box;
  }
  ::-moz-selection {
    color: white;
    @apply bg-slate-600;
  }
  
  ::selection {
    color: white;
    @apply bg-neutral-600;
  }
}

:root {
  --pedal-width: theme('spacing.24');
  --pedal-height: theme('spacing.36');
}

input[type="range"]::-webkit-slider-thumb {
  width: 0px;
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  cursor: ew-resize;
  background: #FFF;
  box-shadow: -500px 0 0 500px theme('colors.presetGreen');
  /* border-radius: 50%; */
}